.contact {
  padding-bottom: 25px;
  padding-top: 25px;
  width: 90%;
  max-width: 1000px;
  border-top: 1px solid #364255;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));

  .links {
    text-align: right;
    img {
      width: 50px;
      filter: invert(100%);
    }
    img:hover {
      filter: invert(100%) opacity(80%);
    }
  }

  .copyright {
    padding-top: 15px;
    color: #CBD5E1;
    font-weight: 600;

    img {
      width: 12px;
      height: 12px;
      filter: invert(100%);
      margin-right: 3px;
    }
  }
}
@media screen and (max-width: 522px) {
  .contact {
    grid-template-columns: repeat(1, minmax(0, 1fr));

    .links {
      padding-top: 25px;
      text-align: left;
    }
  }
}