.contact {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  max-width: 400px;
  padding-bottom: 5rem;
}

h1 {
  margin-top: 250px;
  text-align: center;
  font-size: 45px;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 550;
  color: #CFE8F0;

  input {
    width: 100%;
    height: 35px;
    outline: none;
    border-radius: 5px;
    border-color: #364255;
    border-width: 1px;
    border-style: solid;
    background-color: #242F41;
    color: white;

    &:focus {
      border: 1px solid #60A5E7;
    }
  }

  textarea {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    max-height: 200px;
    min-height: 100px;
    height: 100px;
    outline: none;
    border-radius: 5px;
    border: 1px solid rgb(220, 220, 220);
    border-color: #364255;
    border-width: 1px;
    border-style: solid;
    background-color: #242F41;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;

    &:focus {
      border: 1px solid #60A5E7;
    }
  }

  label {
    margin-top: 1rem;
    text-align: left;
  }

  button {
    margin-top: 2rem;
    background-color: #60A5E7;
    color: white;
    border: none;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    height: 35px;
    width: 100%;
    font-weight: 550;
  }
  button:hover {
    color: #60A5E7;
    background-color: #242F41;
    border: 1px solid #60A5E7;
  }
}

.info {
  padding-top: 50px;
  text-align: center;

  .email {
    font-size: 16px;
    font-weight: 550;
    border-style: solid;
    border-width: 1px;
    border-color: #364255;
    border-radius: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    user-select: none;
    background-color: #242F41;
    color: #CBD5E1;
  }
  .email:hover {
    border: 1px solid #60A5E7;
    color: #60A5E7;
  }
  
  .links {
    padding-top: 25px;

    img {
      height: auto;
      width: 100px;
      filter: invert(100%);
      transition: transform 0.3s, box-shadow 0.3s;
    }
    img:hover {
      transform: translateY(-5px);
    }
  }
}