.education {
  text-align: center;

  h1 {
    font-size: 45px;
    padding-bottom: 50px;
  }

  img {
    height: 200px;
    width: 200px;
    margin-bottom: 25px;
  }
  
  .text-section {
    h2 {
      color: #60A5E7;
    }
    h3 {
      color: #CFE8F0;
    }
    p {
      font-weight: bold;
      color: #CBD5E1;
    }
  }
}