.experiences {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  max-width: 900px;
  margin-top: 20vh;

  h1 {
    font-size: 45px;
    text-align: center;
  }

  .experience {
    a {
      text-decoration: none;
      font-weight: bold;

      h2 {
        color: #60A5E7;
      }
    }
    a:hover {
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-thickness: 3px;
    }


    .info {
      text-align: left;
      padding-bottom: 5px;

      ul {
        li {
          text-align: left;
          color: #CFE8F0;
          margin-top: 15px;
          font-weight: 550;
        }
      }
    }
  }
}