.games {
  margin-left: 10px;
  margin-right: 10px;
  width: 90%;
  max-width: 950px;
  margin-top: 20vh;

  h1 {
    font-size: 45px;
    text-align: center;
  }

  .game {
    a {
      text-decoration: none;
      font-weight: bold;

      h2 {
        color: #60A5E7;
      }
    }
    a:hover {
      text-decoration: underline;
      text-underline-offset: 10px;
      text-decoration-thickness: 3px;
    }


    .info {
      text-align: left;

      .roles {
        margin-top: -25px;

        h3 {
          display: inline-block;
          margin-right: 10px;
          margin-bottom: -5px;
          padding-left: 10px;
          padding-right: 10px;
          background-color: #242F41;
          text-align: center;
          color: #CBD5E1;
          border-color: #364255;
          border-radius: 20px;
          border-width: 1px;
          border-style: solid;
        }
      }

      ul {
        padding-bottom: 5px;
        
        li {
          text-align: left;
          color: #CFE8F0;
          margin-bottom: 15px;
          font-weight: 550;
        }
      }
    }
  }
}