.home {
  width: 100%;
  margin-top: 12vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;

  .intro {
    /* animation: fade-in 3s; */
    display: flex;
    flex-direction: column;
    
    h1 {
      font-weight: bold;
      font-size: 45px;
      color: #60A5E7;
      margin: 0
    }
    h2 {
      font-weight: 400;
      font-size: 25px;
      color: #CFE8F0;
    }
    
    p {
      /* animation: fade-in 3s; */
      max-width: 400px;
      font-size: 20px;
      font-weight: 550;
      margin-left: 10px;
      margin-right: 10px;
      padding: 30px;
      background-color: #283852;
      color: #CBD5E1;
      border-color: #3d4a5f;
      border-radius: 20px;
      border-width: 1px;
      border-style: solid;
      text-align: center;
    }
  }

  img {
    height: 600px;
    width: 95vw;
    min-width: 300px;
    max-width: 400px;
    object-fit: cover;
    margin-top: 20px;
    border-radius: 20px;
  }
}

/* @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
} */