.home {
  width: 100%;
  max-width: 400px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  margin-top: 20vh;

  .intro {
    /* animation: fade-in 3s; */
    margin-bottom: 50px;
    
    h1 {
      font-weight: bold;
      font-size: 45px;
      color: #60A5E7;
    }
    h2 {
      font-weight: 400;
      font-size: 25px;
      color: #CFE8F0;
    }
  }

  p {
    /* animation: fade-in 3s; */
    font-size: 16px;
    font-weight: 550;
    margin-left: 10px;
    margin-right: 10px;
    padding: 30px;
    background-color: #242F41;
    color: #CBD5E1;
    border-color: #364255;
    border-radius: 20px;
    border-width: 1px;
    border-style: solid;
  }
}

/* @keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
} */