.home {
  text-align: center;
  height: 900px;
  width: 100%;
  background-color: white; /* placeholder background */
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;

  .text-section {
    animation: fade-in 3s;
    padding-top: 50px;
    h1 {
      font-weight: bold;
      font-size: 50px;
    }
    h2 {
      font-weight: normal;
      font-size: 25px;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}