.background {
  height: 1000px;
  width: 100%;
  background-color: white; /* background placeholder */
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.me {
  margin-left: 10px;
  margin-right: 10px;
  h1 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 45px;
    color: black;
  }
  .about-me {
    max-width: 500px;
    text-align: center;
    background-color: black;
    opacity: 90%;
    padding: 50px;
    text-decoration: none;
    box-shadow: 0 4p 8px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    border-radius: 40px;
  }
}