.header {
  padding-top: 20px;
  background-color: #111827;
  overflow-x: hidden;
  position: sticky;
  top: 0px;
  z-index: 1;
  border-style: solid;
  border-bottom: 1px solid #364255;

  .navigator {
    display: flex;
    flex-direction: column;
    align-items: center;
    
      a {
      float: left;
      text-align: center;
      margin-left: 50px;
      margin-right: 50px;
      text-decoration: none;
      font-size: 14px;
      color: #CBD5E1;
      font-weight: bold;
      white-space: nowrap;
    }
    a:hover {
      text-decoration: underline;
      text-underline-offset: 16px;
      text-decoration-thickness: 3px;
    }

    ul {
      display: flex;
      margin: 5px;
      list-style: none;
    }

    li {
      padding: 12px;
    }
  }

  .hamburger {
    display: none;
  }
  
  @media screen and (max-width: 1270px) {
    .hamburger {
      display: grid;
      padding-bottom: 5px;
      padding-left: 10px;
    }
    .navigator {
      display: none;
    }
  }
}
