.portfolio {
  .pages {
    background: linear-gradient(#1d2841, #111827);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  a {
    text-decoration: none;
  }
}
