.skills {
  padding-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1030px;

  h2 {
    text-align: center;
    font-size: 45px;
  }

  .skill {
    display: inline-block;
    background-color: #242F41;
    margin: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #364255;
    text-decoration: none;
    box-shadow: 0 4p 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 162px;
    height: 150px;
  
    img {
      padding-top: 20px;
      margin-left: 55px;
      height: 50px;
      width: 50px;
      filter: invert(100%);
    }
    
    p {
      font-weight: bold;
      font-size: 25px;
      text-align: center;
      color: #CBD5E1;
    }
    
  }
  .skill:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}