.skills {
  padding-bottom: 100px;
  margin-left: 10px;
  margin-right: 10px;
  max-width: 1070px;

  h2 {
    text-align: center;
    font-size: 45px;
  }

  .skill {
    display: inline-block;
    background-color: #242F41;
    margin: 20px;
    border-radius: 20px;
    border-style: solid;
    border-width: 2px;
    border-color: #364255;
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    box-shadow: 0 4p 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
    max-height: 150px;
    max-width: 150px;
    width: 100%;
  
    img {
      place-self: center;
      width: 50%;
      filter: invert(100%);
      display: block;
      margin: auto;
    }
    
    p {
      font-weight: bold;
      font-size: 20px;
      text-align: center;
      color: #CBD5E1;
    }
    @media screen and (max-width: 324px) {
      p {
        font-size: 6cqmin;
      }
    }
    
  }
  .skill:hover {
    transform: translateY(-5px);
  }
  @media screen and (max-width: 447px) {
    .skill {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      margin: 0;
      padding: 0;
      margin: 10px;
      padding-top: 20px;
      padding-bottom: 10px;
      max-width: 40vw;
    }
  }
  @media screen and (max-width: 339px) {
    .skill {
      max-width: 90%;

      img {
        max-width: 75px;
      }
    }
  }
}